body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  .header {
    background-color: #F2E6D0;
    color: #011640;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
  }

.logo {
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.05);
}

  nav ul {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00d0ff;
}

  .nav {
    display: flex;
    gap: 16px;
  }
  
  .nav a {
    color: #011640;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #41A8BF;
  }
  
  a {
    text-decoration: none; 
    color: inherit;
  }
  
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px;
    padding: 32px;
    background-color: #f5f5f5;
  }
  
  .section {
    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .largesection {
    background: #ffffff;
    padding: 48px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .section img {
    display: block; 
    margin: 0 auto;
    width: 200px; 
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.5s;
    border: 2px solid black;
  }
  
  .section img:hover {
    transform: scale(1.05);
  }
  
  .largesection img {
    display: block; 
    margin: 0 auto;
    height: 600px; 
    width: 1200px; 
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.5s;
    border: 2px solid black;
  }
  
  .largesection img:hover {
    transform: scale(1.05);
  }
  
  p {
    display: block; 
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    display: block; 
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    color: #000000;;
  }

  h2 {
    display: block; 
    margin: 0 auto;
    text-align: center;
  }
  
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu button {
    background-color: #826092;
    color: white;
    padding: 16px 32px; 
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.5s;
  }
  
  .menu button:hover {
    color: #aaaaaa;
    transform: scale(1.05);
  }

  .menuazul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuazul button {
    background-color: #00439c;
    color: white;
    padding: 16px 32px; 
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.5s;
  }
  
  .menuazul button:hover {
    color: #aaaaaa;
    transform: scale(1.05);
  }

  .menuverde {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuverde button {
    background-color: #6a961a;
    color: white;
    padding: 16px 32px; 
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.5s;
  }
  
  .menuverde button:hover {
    color: #aaaaaa;
    transform: scale(1.05);
  }

  .menuvermelho {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuvermelho button {
    background-color: #fe0016;
    color: white;
    padding: 16px 32px; 
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.5s;
  }
  
  .menuvermelho button:hover {
    color: #aaaaaa;
    transform: scale(1.05);
  }

  .footer {
    background-color: #F2E6D0;
    color: #011640;
    text-align: center;
    padding: 15px;
    font-size: 13px; 
    border-top: 2px solid black;
  }